html{height:100%;}
header,footer{
margin:15px,15px,50px,15px;
height:100px;
padding:50px;
color:green;
background:gray;
text-align:center;
font-size:30px;}

button{margin-left:300px;
color:red;
height:50px;
width:200px;
margin-top:50px;
font-size:20px;
border-radius:20px;
background:blue;
}
label{
color:blue;
margin-top:50px;
margin-left:50px;
font-size:20px;
}
#qrcode{
width:100px;
height:100px;
margin-top:15px;
margin-left:300px;}