.center{
            
            text-align:center;
        }

body{
    background-color:lightgrey;
}

.container{
    font-size:25px;

    max-width:800px;
    padding-right:50px;
    padding-left:50px;
    margin:0 auto;
}
