.center{
            
            text-align:center;
        }

body{
    background-color:lightgrey;
}

h{
    font-size:150%;
}
.container{
    font-size:25px;

    max-width:1000px;
    padding-right:50px;
    padding-left:50px;
    margin:0 auto;
}

.align_right{
    text-align:right;
    
}